/**
  Styles of customer
**/

/*/////////////////////General///////////////////////////*/

.huraaaps-fbmessenger.fb-button {
    z-index: 9999;
}

.rounded {
	border-radius: 24px;
}

.rounded-sm {
	border-radius: 16px;
}

.top_banner_free {
	display: none;
}

label {
	color: #616161;
}

.h6, .megamenu_linklist .link-list a.custom_heading, .is-simplemenu>li a.custom_heading, .section_product #shopify-product-reviews .spr-container .spr-header-title, h6 {
	text-transform: capitalize;
}

.section_accordion .widget_acc_element .element_title {
	padding: 25px 20px;
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

.accordion_item_elements .widget_acc_element {
	margin-bottom: 20px !important;
}

.accordion_item_elements .widget_acc_element h6 {
	border-radius: 40px;
}

.custom-select, #quick_view__variants .selector-wrapper select, .section_product .single_product__options select, .form-control, .section_product #shopify-product-reviews .spr-container .spr-content input.spr-form-input, .section_product #shopify-product-reviews .spr-container .spr-content textarea.spr-form-input-textarea {
	color: #111111 !important;
	font-weight: 600 !important;
	background-color: #f9f9f9;
	border: none;
	border-radius: 24px;
}

#back_top {
	background: #dadada;
	box-shadow: 0px 1px 1px #0003;
}

@media (max-width: 991px) {
	body .section_banners {
		max-width: 746px;
		margin-left: auto;
		margin-right: auto;
	}
}

.banner-item .h2 {
	margin-bottom: 20px;
}

.banner-item .h6.block-subtitle {
	/*font-size: 24px;*/
	color: #616161 !important;
	text-transform: initial;
}
.banner-item .caption_text a {
	text-transform: capitalize;
	font-size: 13px;
}

.banner-item .caption-item p>span {
	color: #ffffff;
	background-color: #DDAAC8;
	border-radius: 16px;
	padding: 0 8px 0 8px;
}

.template_contact .item_form *+.form-group-btn {
	margin-top: 0;
}

.custom-select:focus, #quick_view__variants .selector-wrapper select:focus, .section_product .single_product__options select:focus, .form-control:focus, .section_product #shopify-product-reviews .spr-container .spr-content input.spr-form-input:focus, .section_product #shopify-product-reviews .spr-container .spr-content textarea.spr-form-input-textarea:focus {
	background-color: #f9f9f9;
}

.btn-primary, .btn-default, .blog__main.linkstyle--btn .article_btn, .product_listing__list .add_to_cart_button {
	text-transform: capitalize;
	font-size: 14px;
}

/*/////////////////////Footer///////////////////////////*/
.section--footer {
	border: none;
}

.bg-footer {
	margin-bottom: 40px;
}

.statement_rights {
	font-size: 14px;
}

body footer>div.footer_type_2 .footer_bottom_pannel {
	margin: 0;
}

@media (max-width: 767.98px) {
	body footer > div .without_toggle {
		text-align: left;
		order: 0;
		margin-bottom: 30px;
	}

	body footer > div {
		text-align: left;
	}
}

@media (max-width: 575px) {
	.bg-footer {
		border-radius: 0;
	}
}

/*@media (min-width: 576px) {*/
/*	.container, .template-page .breadcrumbs>div, #size-chart, .breadcrumbs, ul.megamenu>li.level_1__item .is-megamenu>li, .page_container .shopify-policy__container, .container-xsm, .container-sm {*/
/*		 max-width: initial;*/
/*	}*/
/*}*/

body footer>div .footer_bottom_pannel .row {
	text-align: left;
}

body .btn-default, body .btn-primary {
	border-radius: 22px;
}

.section_image-with-text-column img {
	border-radius: 24px;
}

.text-caption-banner .image-item-container {
	display: none;
}

.supplements .banner-item img {
	border-radius: 24px;
}

/* Policy pages setup */

.section_template__faq {
	padding-bottom: 0;
}

.section_template__faq .container {
	margin-top: 40px;
}

.section_template__faq .h2, .section_template__faq h2 {
	text-align: left;
	font-size: 48px;
}

.section_template__faq .h3, .section_template__faq h3 {
	font-size: 36px;
}

.section_template__faq .h4, .section_template__faq h4 {
	font-size: 24px;
}

.section_template__faq p, .section_template__faq ul {
	font-size: 20px;
	color: black;
}

.section_template__faq ul {
	display: block;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 40px;
	padding-left: 0;
}

.section_template__faq li {
	display: list-item;
	text-align: -webkit-match-parent;
}

/* Nested UL inside LI */
.section_template__faq li > ul {
	list-style-type: circle; /* Changes to circle by default in most browsers */
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 40px; /* Indentation continues */
}

/*////////////////////About Us Page/////////////////////////*/

.page-about-us .caption_text a {
	margin: 5px;
}

@media (min-width: 1200px) {
	.page-about-us .section_image-with-text-column {
		padding-bottom: 45px;
	}
}

@media (min-width: 767.98px) {
	.page-about-us .caption {
		padding-top: 0 !important;
	}
}

@media (max-width: 767.98px) {
	.page-about-us .caption {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
@media (max-width: 767.98px) {
	.page-about-us .section_banners .banner-caption {
		height: 0;
	}
}

/*///////////////////Contact US Page//////////////////////////*/

.custom_page_heading {
	display: none;
}

@media (max-width: 767.98px) {
	.accordion .section_heading {
		text-align: left;
	}

	.accordion .desc_text {
		text-align: left !important;
	}
}

.template_contact .item_form, .template_contact .item_address, .template_contact .section_map {
	margin-top: 0;
	display: flex;
}

body .contact_item .content_item_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 10% 0 10% !important;
}

body .contact_phone {
	display: inline;
	margin-left: 20px;

}

body .contact_phone svg {
	vertical-align: super;
}

body .contact_phone .contact_phone_data {
	margin-left: 20px;
	display: inline-block;
	margin-top: 0;
}

body .contact_item .content_item_wrap {
	align-items: normal;
}

.template_contact .item_address .contact_element .subtitle_lg {
	font-size: 16px;
	margin-bottom: 4px;
}

.template_contact .item_address .contact_element p {
	font-size: 18px;
}

@media (max-width: 767.98px) {
	body .contact_item .content_item_wrap > div, body .contact_item .content_item_wrap > ul {
		margin: 20px 0 20px 0;
	}
}

@media (min-width: 992px) {
	.template_contact .item_form {
		padding: 20px;
		margin: 40px 0;
	}
}

@media (max-width: 992px) {
	.template_contact .item_form {
		padding: 20px;
		margin: 40px 0;
	}
}

.template_contact .item_form *+.form-group-btn {
	margin-top: 0;
}

/*////////////////////Testimonials//////////////////////*/
.testimonials_section {

}

.testimonials_section .testimonials_caption {
	text-align: left;
}

.testimonials_section >div>.row {
	margin: 0 45px
}

.testimonials_section .star_text {
	font-size: 16px;
	vertical-align: top;
	font-weight: 600;
}

.testimonials_section .testimonials_item__topic {
	font-size: 18px;
	font-weight: 600;
}

.testimonials_item__author {
	font-size: 16px;
	font-weight: 600;
}

body .testimonials_section .style_type_2 {
	padding: 0 5px;
}

.testimonials_section .testimonial_slide__item_wrapper {
	background-color: #f9f9f9;
	border-radius: 24px;
	padding: 18px;
}

.testimonials_item .rating_section {
	display: flex;
	justify-content: space-between;

}

.view_more {
	font-weight: 600;
	cursor: pointer;
}

@media (min-width: 1200px) {
	body .index_section_testimonials .testimonial_author {
		margin-top: 50px;
		margin-bottom: 15px;
	}
}
@media (max-width: 1200px) {
	.testimonials_section > div > .row {
		margin: 0
	}
}

/*///////////////////////////Product listing///////////////////*/
.product_listing__main>div .product_item, .product_listing__main>div .product_item .media {
	background-color: #f9f9f9;
	border-radius: 24px;
}

.product_listing__grid .product_item_wrap {
	margin-bottom: 0;
}

main .product_listing__main:not(.product_listing__list) .product_item_wrap {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.product_item {
	padding: 20px;
}

.product_listing__main .product_n > a {
	color: black;
}

.product_listing__main .product-sale-price {
	font-size: 24px;
	color: black !important;
	line-height: 1.9;
}

.product_listing__main .product_info {
	padding-top: 0;
}

.product_listing__main .product-price-container {
	margin-top: 0;
}

body .product_listing__main .add_to_cart_button {
	border-radius: 24px !important;
	border: 1px solid #ffffff !important;
	text-transform: capitalize !important;
	color: #000000 !important;
	background: #ffffff !important;
	width: calc(100% - 40px);
}

body .product_listing__main .add_to_cart_button:hover {
	border: 1px solid #dadada !important;
}

/*//////////////////////Header///////////////////////////////*/
.header__inline-menu li a {
	text-transform: capitalize !important;
	border-radius: 24px !important;
	color: #000000 !important;
	-webkit-text-fill-color: #000000 !important;
	background: none !important;
	border: 1px solid #dadada !important;
	padding: 12px 18px !important;
	font-size: 16px !important;
}

.header__inline-menu li a:hover {
	background-color: #f9f9f9 !important;
	/*-webkit-text-fill-color: #dadada !important;*/
}

.header__inline-menu li a .header__active-menu-item {
	font-weight: 600;
}

.header__inline-menu {
	min-width: 482px;
}

.header_items_wrapper .btn-primary {
	padding: 13px 18px;
	font-size: 16px !important;
}

@media (max-width: 1200px) {
	.header_items_wrapper .btn-primary {
		display: none;
	}
}

/*//////////////////////////Mobile menu//////////////////////////////*/
@media (max-width: 1200px) {
	.header__inline-menu li a {
		border: none !important;
	}

	.header__inline-menu li a:hover {
		background-color: #ffffff !important;
		-webkit-text-fill-color: #616161 !important;
	}

	.menu-items > a .link_text {
		font-size: 16px !important;
	}

	.menu-items > a .link_text:hover {
		color: #616161 !important;
	}

	.menu-items > a span:hover {
		color: #616161 !important;
	}

	.menu-items > div, .menu-items > a {
		margin: 0 0 0 15px !important;
	}

	.menu-items > div .link_text {
		display: none !important;
	}
}
/*////////////////////////////Header cart numbers///////////////////////////////////*/
body .header_items_wrapper .header_cart .cart_link.item-absolute .header_cart_items {
	background: #121212;
	width: 18px;
	height: 18px;
	line-height: 17px;
	font-weight: 600;
	position: relative;
	top: -5px;
	left: -10px;
}

.header_cart .cart_content_box .cart_clear {
	-webkit-text-fill-color: #616161 !important;
	background: none !important;
}

/*/////////////////////////////////Card////////////////////////////////////////////*/
.cart_items_main {
	/*width: 57%;*/
	/*margin: 0 40px 15px 0;*/
}

@media (max-width: 768px) {
	.cart_items_main {
		width: 100%
	}
}


.template_cart .cart_sidebar {
	background-color: #ffffff;
	padding:  25px !important;
	border: 1px solid #dadada !important;
	border-radius: 24px;
}

.template_cart .cart_sidebar .cart_footer {
	padding: 0;
}

.btn_return, .btn_return:after {
	-webkit-text-fill-color: #616161 !important;
	background: none !important;
}

.cart_note_wrap {
	display: none;
}

.template_cart .cart_sidebar .cart_footer p+.cart_total_price {
	margin-top: 15px;
	padding-top: 15px;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 16px;
}

.template_cart .cart_sidebar .cart_footer .product-price {
	font-weight: 700;
	font-size: 18px;
}

.template_cart .cart_sidebar .block-footer {
	padding: 0;
	align-items: start;
}

.template_cart .cart_sidebar .block-footer svg {
	margin-right: 10px;
	width: 50px;
}


.template_cart .cart_sidebar .block-footer b {
	font-weight: 600;
}

.template_cart .cart_sidebar .block-footer a {
	font-weight: 600;
	text-decoration: underline;
	color: black;
	cursor: pointer;
}

.template_cart .mobile_p_title {
	display: none;
}

.template_cart .cart_sidebar .block-footer p {
	font-size: 16px;
	margin: 0;
}

@media (min-width: 768px) {
	.template_cart .cart_items_main .cart-product {
		width: 55%;
	}

	.template_cart .cart_items_main .cart-total {
		width: 12%;
	}
	.template_cart .cart_items_main .cart-remove {
		width: 7%;
	}
}

/*///////////////////////Card mobile////////////////////////////////*/
@media (max-width: 768px) {
	.template_cart .cart_items_main .table-row {
		 flex-wrap: nowrap;
	}

	.template_cart .cart_items_main .table-cell .table-cell-heading {
		display: none;
	}

	.template_cart .cart_items_main .table-cell {
		border: none;
	}

	.template_cart .cart_items_main .table-cell .table-cell-content {
		border: none;
	}

	.template_cart .column_product_img {
		width: 60px;
	}

	.quantity_box {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 78px;
		padding: 0 14px;
		border: solid 1px #e1e2e4;
		border-radius: 6px;
	}

	.quantity_box input {
		text-align: center;
		width: 36px;
		height: 31px;
		border-radius: 6px;
		color: #616161;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.2;
		transition: all .3s ease-in-out;
		background-color: transparent;
		border: none;
		padding-left: 8px;
		padding-right: 10px;
	}

	.quantity_box div.quantity_down {
		margin-left: -9px;
		order: -1;
	}

	.template_cart .cart_items_main .table-row {
		border-bottom: 1px solid #dadada;
	}

	.template_cart .cart_items_main .table-row:last-child {
		border-bottom: none;
	}

	.template_cart .cart_items_main .table-cell.card-product {
		min-width: 300px;
	}

	.table-cell.cart-product {
		min-width: 55% !important;
	}

	.template_cart .mobile_p_title {
		display: block;
	}
}

/*/////////////////////////////Banners carousel/////////////////////////////////*/
@media (max-width: 992px) {
	.mobile_carousel .all_banners_sections.toggle-mobile {
		display: none;
	}

	.mobile_carousel .all_banners.toggle-mobile {
		display: block;
		margin: 0 auto;
	}

	.mobile_carousel .block-title {
		padding-top: 25px;
	}

	.mobile_carousel .banner-caption {
		padding: 0 !important;
	}
	.mobile_carousel .image_banner {
		display: none;
	}

	.mobile_carousel .swiper-nav-wrapper {
		width: 73px;
		margin-top: 35px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	@media (min-width: 768px) {
		.mobile_carousel {
			border-radius: 22px;
		}
	}
}

@media (min-width: 992px) {
	.mobile_carousel .all_banners.toggle-mobile, .mobile_carousel .swiper-nav-wrapper {
		display: none;
	}
}
