/**
  Styles of customer
**/

/*/////////////////////General///////////////////////////*/

.huraaaps-fbmessenger.fb-button {
    z-index: 9999;
}

.rounded {
	border-radius: 24px;
}

label {
	color: #616161;
}

.h6, .megamenu_linklist .link-list a.custom_heading, .is-simplemenu>li a.custom_heading, .section_product #shopify-product-reviews .spr-container .spr-header-title, h6 {
	text-transform: capitalize;
}

.section_accordion .widget_acc_element .element_title {
	padding: 25px 20px;
	border-left: 1px solid var(--border-color);
	border-right: 1px solid var(--border-color);
	border-bottom: 1px solid var(--border-color);
}

.accordion_item_elements .widget_acc_element {
	margin-bottom: 20px !important;
}

.accordion_item_elements .widget_acc_element h6 {
	border-radius: 40px;
}

.custom-select, #quick_view__variants .selector-wrapper select, .section_product .single_product__options select, .form-control, .section_product #shopify-product-reviews .spr-container .spr-content input.spr-form-input, .section_product #shopify-product-reviews .spr-container .spr-content textarea.spr-form-input-textarea {
	color: #111111 !important;
	font-weight: 600 !important;
	background-color: #f9f9f9;
	border: none;
	border-radius: 24px;
}

.banner-item .h2 {
	margin-bottom: 20px;
}

.banner-item .h6.block-subtitle {
	/*font-size: 24px;*/
	color: #616161 !important;
	text-transform: initial;
}
.banner-item .caption_text a {
	text-transform: capitalize;
	font-size: 13px;
}

.banner-item .caption-item p>span {
	color: #ffffff;
	background-color: #DDAAC8;
	border-radius: 16px;
	padding: 0 8px 0 8px;
}

.template_contact .item_form *+.form-group-btn {
	margin-top: 0;
}

.custom-select:focus, #quick_view__variants .selector-wrapper select:focus, .section_product .single_product__options select:focus, .form-control:focus, .section_product #shopify-product-reviews .spr-container .spr-content input.spr-form-input:focus, .section_product #shopify-product-reviews .spr-container .spr-content textarea.spr-form-input-textarea:focus {
	background-color: #f9f9f9;
}

.btn-primary, .blog__main.linkstyle--btn .article_btn, .product_listing__list .add_to_cart_button {
	text-transform: capitalize;
	font-size: 14px;
}

/*/////////////////////Footer///////////////////////////*/
.section--footer {
	border: none;
}

.bg-footer {
	margin-bottom: 40px;
}

body footer>div.footer_type_2 .footer_bottom_pannel {
	margin: 0;
}

@media (max-width: 767.98px) {
	body footer > div .without_toggle {
		text-align: left;
		order: 0;
		margin-bottom: 30px;
	}

	body footer > div {
		text-align: left;
	}
}

@media (max-width: 575px) {
	.bg-footer {
		border-radius: 0;
	}
}

/*@media (min-width: 576px) {*/
/*	.container, .template-page .breadcrumbs>div, #size-chart, .breadcrumbs, ul.megamenu>li.level_1__item .is-megamenu>li, .page_container .shopify-policy__container, .container-xsm, .container-sm {*/
/*		 max-width: initial;*/
/*	}*/
/*}*/

body footer>div .footer_bottom_pannel .row {
	text-align: left;
}

body .btn-default, body .btn-primary {
	border-radius: 22px;
}

.section_image-with-text-column img {
	border-radius: 24px;
}

.supplements .text-caption-banner .image-item-container {
	display: none;
}

.supplements .banner-item img {
	border-radius: 24px;
}

/* Policy pages setup */

.section_template__faq {
	padding-bottom: 0;
}

.section_template__faq .container {
	margin-top: 40px;
}

.section_template__faq .h2, .section_template__faq h2 {
	text-align: left;
	font-size: 48px;
}

.section_template__faq .h3, .section_template__faq h3 {
	font-size: 36px;
}

.section_template__faq .h4, .section_template__faq h4 {
	font-size: 24px;
}

.section_template__faq p, .section_template__faq ul {
	font-size: 20px;
	color: black;
}

.section_template__faq ul {
	display: block;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 40px;
	padding-left: 0;
}

.section_template__faq li {
	display: list-item;
	text-align: -webkit-match-parent;
}

/* Nested UL inside LI */
.section_template__faq li > ul {
	list-style-type: circle; /* Changes to circle by default in most browsers */
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-left: 40px; /* Indentation continues */
}

/*////////////////////About Us Page/////////////////////////*/

.page-about-us .caption_text a {
	margin: 5px;
}

@media (min-width: 1200px) {
	.page-about-us .section_image-with-text-column {
		padding-bottom: 45px;
	}
}

@media (min-width: 767.98px) {
	.page-about-us .caption {
		padding-top: 0 !important;
	}
}

@media (max-width: 767.98px) {
	.page-about-us .caption {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}
@media (max-width: 767.98px) {
	.page-about-us .section_banners .banner-caption {
		height: 0;
	}
}

/*///////////////////Contact US Page//////////////////////////*/

.custom_page_heading {
	display: none;
}

@media (max-width: 767.98px) {
	.accordion .section_heading {
		text-align: left;
	}

	.accordion .desc_text {
		text-align: left !important;
	}
}

.template_contact .item_form, .template_contact .item_address, .template_contact .section_map {
	margin-top: 0;
	display: flex;
}

body .contact_item .content_item_wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0 10% 0 10% !important;
}

body .contact_phone {
	display: inline;
	margin-left: 20px;

}

body .contact_phone svg {
	vertical-align: super;
}

body .contact_phone .contact_phone_data {
	margin-left: 20px;
	display: inline-block;
	margin-top: 0;
}

body .contact_item .content_item_wrap {
	align-items: normal;
}

.template_contact .item_address .contact_element .subtitle_lg {
	font-size: 16px;
	margin-bottom: 4px;
}

.template_contact .item_address .contact_element p {
	font-size: 18px;
}

@media (max-width: 767.98px) {
	body .contact_item .content_item_wrap > div, body .contact_item .content_item_wrap > ul {
		margin: 20px 0 20px 0;
	}
}

@media (min-width: 992px) {
	.template_contact .item_form {
		padding: 20px;
		margin: 40px 0;
	}
}

@media (max-width: 992px) {
	.template_contact .item_form {
		padding: 20px;
		margin: 40px 0;
	}
}

.template_contact .item_form *+.form-group-btn {
	margin-top: 0;
}








